@model Pokedex.Models.Pokemon
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>ID: @Model.PokemonId</li>
    <li>In Pokedex: @Model.IsInPokedex</li>
</ul>

@if (!Model.IsInPokedex)
{
    using (Html.BeginForm("Add", "Pokemon"))
    {
        @Html.HiddenFor(p => p.PokemonId);
        @Html.HiddenFor(p => p.Name);
        <button type="submit" class="btn btn-primary">Add to Pokedex</button>;
    }
}
else
{
    <p>This Pokemon is in your Pokedex!</p>
    using (Html.BeginForm("Delete", "Pokemon"))
    {
        @Html.HiddenFor(p => p.PokemonId);
        <button type="submit" class="btn btn-danger">Remove from Pokedex</button>
    }
}
