@model Pokedex.ViewModels.PokemonIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Browse Pokemon</h2>

@Html.ActionLink("Gen 1", "Index", "Pokemon", new { gen = 1, page = 0 }, new { @class = "btn btn-primary" })
@Html.ActionLink("Gen 2", "Index", "Pokemon", new { gen = 2, page = 0 }, new { @class = "btn btn-primary" })
@Html.ActionLink("Gen 3", "Index", "Pokemon", new { gen = 3, page = 0 }, new { @class = "btn btn-primary" })
@Html.ActionLink("Gen 4", "Index", "Pokemon", new { gen = 4, page = 0 }, new { @class = "btn btn-primary" })
@Html.ActionLink("Gen 5", "Index", "Pokemon", new { gen = 5, page = 0 }, new { @class = "btn btn-primary" })
@Html.ActionLink("Gen 6", "Index", "Pokemon", new { gen = 6, page = 0 }, new { @class = "btn btn-primary" })
@Html.ActionLink("Gen 7", "Index", "Pokemon", new { gen = 7, page = 0 }, new { @class = "btn btn-primary" })


<table class="table table-bordered table-hover" id="extra-top">
    <tr>
        <th>Id</th>
        <th>Pokemon</th>
        <th>In Pokedex</th>
    </tr>
    @foreach (var pokemon in Model.Pokemon)
    {
        <tr>
            <th>@pokemon.PokemonId</th>
            <th>@Html.ActionLink(pokemon.Name, "Details", "Pokemon", new { id = pokemon.PokemonId }, null)</th>
            <th>@pokemon.IsInPokedex</th>
        </tr>
    }
</table>
@if (Model.Page != 0)
{
    @Html.ActionLink("Previous page", "Index", "Pokemon", new { gen = Model.Gen, page = Model.Page - 1 }, new { @class = "btn btn-danger" })
}

@if (Model.Pokemon.Count() == Model.PageSize)
{
    @Html.ActionLink("Next page", "Index", "Pokemon", new { gen = Model.Gen, page = Model.Page + 1 }, new { @class = "btn btn-primary" })
}
else
{
    @Html.ActionLink("Next gen", "Index", "Pokemon", new { gen = Model.Gen + 1, page = 0 }, new { @class = "btn btn-primary" })
}
