@model IEnumerable<Pokedex.Models.Pokemon>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Browse Pokemon</h2>

@Html.ActionLink("Gen 1", "Index", "Pokemon", new { page = 0 }, new { @class = "btn btn-primary" })
@Html.ActionLink("Gen 2", "Index", "Pokemon", new { page = 30 }, new { @class = "btn btn-primary" })
@Html.ActionLink("Gen 3", "Index", "Pokemon", new { page = 50 }, new { @class = "btn btn-primary" })
@Html.ActionLink("Gen 4", "Index", "Pokemon", new { page = 77 }, new { @class = "btn btn-primary" })
@Html.ActionLink("Gen 5", "Index", "Pokemon", new { page = 98 }, new { @class = "btn btn-primary" })
@Html.ActionLink("Gen 6", "Index", "Pokemon", new { page = 129 }, new { @class = "btn btn-primary" })
@Html.ActionLink("Gen 7", "Index", "Pokemon", new { page = 144 }, new { @class = "btn btn-primary" })


<table class="table table-bordered table-hover" id="extra-top">
    <tr>
        <th>Id</th>
        <th>Pokemon</th>
        <th>In Pokedex</th>
    </tr>
    @foreach (var pokemon in Model)
    {
        <tr>
            <th>@pokemon.PokemonId</th>
            <th>@Html.ActionLink(pokemon.Name, "Details", "Pokemon", new { id = pokemon.PokemonId }, null)</th>
            <th>@pokemon.IsInPokedex</th>
        </tr>
    }
</table>
@if (Model.First().PokemonId / 5 != 0)
{
    @Html.ActionLink("Previous page", "Index", "Pokemon", new { page = Model.First().PokemonId / 5 - 1 }, new { @class = "btn btn-danger" })
}

@Html.ActionLink("Next page", "Index", "Pokemon", new { page = Model.First().PokemonId / 5 + 1 }, new { @class = "btn btn-primary" })